<h1>Welcome to the Anime List </h1>
<% if logged_in?%>
<h2>  You're already logged in </h2>
<% end %>


<br>
<img alt="MAL" src="https://upload.wikimedia.org/wikipedia/commons/6/68/MyAnimeList.png"
         width=400" height="100">