<h1>Anime</h1>
<% if @user != current_user %>
<h1><%= "You are not permitted to be here"%></h1>
<% else %>
<h2>Welcome to <%= @user.username %>'s Profile! </h2>

<h3>Go check out the links above!</h3>
<ul>
  <% @user.reviewed_animes.each do |s|%>
  <li> <%= link_to s.name_and_category, anime_path(s)%> </li>
  <% end %>
  <% end %>
</ul>


<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>