// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
    color: rgb(255, 251, 0);
  }

  h2 { 
      color: rgb(26, 235, 200);
  }

  p {
    color: rgb(230, 26, 53);
  }

  input[type=text] {
    width: 10%;
    padding: 2px 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }

